[submodule "hardware/FIFO"]
	path = hardware/FIFO
	url = https://github.com/Danishazmi29/Verilog-Code-of-Synchronus-FIFO-Design-with-verilog-test-code.git
[submodule "hardware/BMW-Tree"]
	path = hardware/BMW-Tree
	url = https://github.com/BMWTree/BMWTree.git
